<!-- <div class="row row1">
    <input type="text" placeholder="Search">
</div> -->
<!-- <div class="row row2">
  <button style="width:120px;" routerLink="home">Dashboard</button>

</div>
<div class="row row3">
    <button style="width:120px;" routerLink="user">User</button>

  </div>
  <div class="row row3">
      <button style="width:120px;" routerLink="restaurent">Restaurent</button>

    </div>
    <div class="row row3">
        <button style="width:120px;"  routerLink="other">Order</button>
  
      </div> -->

      <div class="sidenav">
        
          <a routerLink="home">Dashboard</a>
          <a routerLink="user">User</a>
          <a routerLink="restaurent">Restaurent</a>
          <a routerLink="other">Orders</a>
        </div>