<div class="container-fluid">
<div class="row">
    <div class="col-md-8">
        <h3>User Detail</h3>
    </div>
    <div class="col-md-4">
        <!-- <input type="text" placeholder="Search"> -->
    </div>
</div>
<div class="row">
        <table>
            <tr style="background-color:blanchedalmond">
                <th>Name</th>
                <th>Contact</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let i of user">
                    <th>{{i.cusName}}</th>
                    <th>{{i.cusContact}}</th>
                    <th ><i (click)="remove(i.cusEmail)" class="material-icons">
                            remove_circle
                            </i></th>
            </tr>
        </table>
</div>
</div>