<div class="container">
  <div class="row">
    <h1 style="text-align: center;margin-left:50px;">Dashboard</h1>
  </div>
  <div class="row">
    <h4 style="text-align: center;margin-left:50px;">{{date|date:'medium'}}</h4>
     </div>
  <br>
  <br>
  <div class="row">
    <!-- <div class="col"> -->
      <h3 style="border:1px solid black;margin-left: 50px;height: 100px;width: 400px;">Restaurent:-{{restaurent}}</h3>
      <!-- <p style="height:100px;width:200px;border:1px solid black;"> res count:-{{restaurent}}</p> -->
    </div>
    <!-- <div class="col"> -->
      <div class="row">
      <h3 style="border:1px solid black;margin-left: 50px;height: 100px;width: 400px;">User:-{{user}}</h3>
      <!-- <p style="height:100px;width:200px;border:1px solid black;">user count:-{{user}}</p> -->
    </div>
    <div class="row">
        <h3 style="border:1px solid black;margin-left: 50px;height: 100px;width: 400px;">Ongoing Order:-{{order}}</h3>
        </div>
  </div>

  



